
body{
    background-color: rgb(96, 188, 224) ;
}

.box{

        
    justify-content: center;
    box-sizing: border-box;
    /* border: 3px solid black; */
    text-align: center;
     

    width: 380px;
    /* margin-left: 35%; */

    margin: auto;

    margin-top: 5%;
    /* margin-right: 30%; */
    padding-bottom: 1% ;
    padding-top: 1%;
    background-color: white;

     border-radius:2cqb;

}

.inp{
    /* border: 3px solid black; */
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 12px 80px 12px 10px;
    /* font-weight: 500; */
    border-radius: 10%;
    border-radius: 0.5cqi;
    font-size: medium;

    /* color: white; */
    

}

.but{

    /* border: 3px solid black; */
    padding: 10px 70px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10%;
    border-radius: 0.5cqi;
    color: rgb(15, 8, 8);
    background-color: rgb(119, 204, 238);

    /* display: block; */
}


.image{

    text-align: center;
    width: 150px;
    height: 150px;
}


.imgdiv{
     
    border: 1px solid rgb(121, 119, 119);
    width: 280px;
    margin-top: 50px;
    margin-left: 47px;
    padding: 30px 45px;
    text-align: center;
    border-radius: 1cqb;
}

h3{
    font-size: 1.3rem;
    margin-top: 4%;
}

.pressed{
    opacity: 0.5;
    box-shadow: 0 3px 4px 0 #DBEDF3;
    
}


@media(max-width:500px){


    .box{
        
        border-radius: 2cqh;
        padding-bottom: 2%;
        width: 300px;

    }

    .imgdiv{
        border-radius: 2cqh;
        width:200px;
        height: 180px;
    }

    .image{
        width: 140px;
        position: relative;
        bottom: 20px;
        right: 13px;
    }
   .inp{
    border-radius: 2cqh;

   }

   .but{
    border-radius: 2cqh;
    
   }



}

